<!DOCTYPE html>
<html lang="zh-ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" th:href="@{/static/css/login.css}">-->
    <link th:href="@{/static/asserts/bootstrap-3.3.7-dist/css/bootstrap.css}"  rel="stylesheet" type="text/css">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">
    <link rel="stylesheet" th:href="@{/static/asserts/css/login.css}">
</head>
<body>
<h1>hello word</h1>
</body>
</html>